html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

progress {
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 16px;
}

[type=checkbox],
[type=radio] {
    padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px;
    font: inherit;
}

a {
    color: inherit;
}

p {
    margin:0px;
    padding:0px;
}

/* Style the header */
header {
	box-sizing: border-box;
	background-color: transparent;
    padding: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex-basis: 50px;
    -ms-flex-basis: 50px;
    flex-basis: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

/* Style the content */
article {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.5;
}

/* Style the footer */
footer {
    background-color: transparent;
    padding: 5px;
    text-align: center;
    color: black;
}

.item {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.item-name {
    font-weight: bold;
    text-align: center;
    height: 32px;
}

.item-desc {
    font-weight: normal;
    color: #2d2d2d;
    padding-left: 16px;
    white-space: normal;
    width: 100%;
}

.item-desc p {
    margin: 0px;
    margin-top: 6px;
}

.no-products {
    display: table;
    margin: 0 auto;
    width: auto;
}

.no-products img {
    height: 128px;
    border-radius: 6px;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rm-btn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    margin-top: 2px;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav-btn {
    display: block;
}

.nav-btn-img {
    cursor: pointer;
    height: 100%;
    width: 52px;
    height: 52px;
    border: none;
    vertical-align: middle;
}

.scrollratebar {
    display: block;
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}


/* navbar custom */

.navbar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 1px solid #dcdcdb;
    padding-bottom: 5px;
}

.nav {
    margin-left: 12px;
    margin-right: 12px;
}

.navbar .nav {
    flex: 2;
}

.scrollratebar::-webkit-scrollbar {
    height: 5px;
}


/* Track */

.scrollratebar::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

.scrollratebar::-webkit-scrollbar-thumb {
    background: #cccccc;
}


/* Handle on hover */

.scrollratebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-rate-item {
    display: inline-block;
    white-space: nowrap;
    margin-right: 12px;
}

.main-rate-item img {
    display: inline-block;
    height: 56px;
    vertical-align: top;
    cursor: pointer;
}

.rate-item-body {
    display: inline-block;
    margin-left: 12px;
}

.rate-item-body p {
    margin-bottom: 0px;
    margin-top: 0px;
    cursor: pointer;
}

.rate-bar {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.items-container {
	display: table;
    background-color: transparent;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    vertical-align: middle;
    border: none;
    padding-top: 10px;
}

.wine-item {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 25%;
    border-left: 1px solid #dcdcdb;
    border-right: 1px solid #dcdcdb;
    border-spacing: 0;
}

.item-img {
    vertical-align: bottom;
    display: table;
    float: left;
    height: 224px;
    width: auto;
    border-radius: 6px;
}

.item-img-recommend {
    height: 128px;
}

.item-rates {
    display: table;
    background-color: transparent;
    overflow: auto;
    width: auto;
    margin: 0 auto;
    text-align: center; 
    vertical-align: top;
    border: none;
    padding-top: 10px;
}

.user-img {
    border-radius: 5px;
    background: #f0505d;
    padding: 3px;
    width: 48px;
    height: 48px;
}

.user-rates {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #dcdcdb;
}

.user-rates h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 12px;
    border-bottom: 1px solid #dcdcdb;
}

.expert-rates {
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}

.expert-rates h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    padding: 12px;
    border-bottom: 1px solid #dcdcdb;
}

.column a:link {
    text-decoration: none;
}

.column a:visited {
    text-decoration: none;
}

.empty {
    display: table;
    margin-top: 15%;
    padding: 16px;
    width: 224px;
    height: 224px;
    background: inherit;
    cursor: pointer;
}

.pagination {
    display: table;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 12px;
    width: auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #f95463;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.empty img {
    width: 224px;
    height: 224px;
}

.stick {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.product-image-box {
    margin-top: 16px;
    width: 100%;
    min-height: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.rate-button {
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 32px;
    width: 32px;
}

.rate-button-small {
    min-height: 22px;
    min-width: 22px;
    max-height: 22px;
    max-width: 22px;
}

.hrs-btn,
.hrs-button {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    background-position: center;
    text-align: center;
    cursor: pointer;
    height: 52px;
    width: 52px;
}

.hrs-bar-button {
    border: none;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
    height: auto;
    width: 100%;
}

.hrs-bar-item {
    padding: 8px 16px;
    white-space: normal;
    float: left;
    height: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: inherit;
    text-align: left;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
}

.hrs-bar-item:hover {
    background-color: #E0E0DF;
}

.hrs-bar-close {
    padding-left: 12px;
    white-space: normal;
    float: left;
    height: auto;
    border: none;
    display: block;
    outline: 0;
    font-size: 26px;
    text-align: left;
    width: 100%;
    height: 52px;
    cursor: pointer;
    background-color: #f0505d;
    color: white;
}

.hrs-bar-close:hover {
    background-color: #f95463;
}

.hrs-btn:hover {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.hrs-btn,
.hrs-button,
.hrs-menu-button .hrs-bar-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hrs-disabled,
.hrs-btn:disabled,
.hrs-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.hrs-disabled *,
:disabled * {
    pointer-events: none;
}

.hrs-btn.hrs-disabled:hover,
.hrs-btn:disabled:hover {
    box-shadow: none;
}

.hrs-sidebar {
    display: none;
    height: 100%;
    width: 80%;
    max-width: 350px;
    background-color: #f4f4f3;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

.hrs-tiny {
    font-size: 10px!important
}

.hrs-small {
    font-size: 12px!important
}

.hrs-medium {
    font-size: 15px!important
}

.hrs-large {
    font-size: 17px!important
}

.hrs-xlarge {
    font-size: 24px!important
}

.hrs-xxlarge {
    font-size: 36px!important
}

.hrs-xxxlarge {
    font-size: 48px!important
}

.hrs-jumbo {
    font-size: 64px!important
}

.hrs-teal {
    height: 52px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    font-size: 32px;
    margin-bottom: 8px;
}

.hrs-teal a {
    text-decoration: none;
}

.hrs-teal,
.hrs-hover-teal:hover {
    color: #fff!important;
    background-color: #f0505d!important;
}

.hrs-teal-shadow {
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 3996px) {
    .wine-item {
        width: 16.6%;
    }
}

@media screen and (min-width: 2560px) {
    .wine-item {
        width: 20%;
    }
}

@media screen and (max-width: 1280px) {
    .wine-item {
        width: 33.3%;
    }
}

@media screen and (max-width: 1024px) {
    .wine-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .item-rates {
        display: block;
    }
    
    .user-rates, .expert-rates {
        width: 100%;
        padding: 0px;
    }
    
    .user-rates h1 {
        border-top: 1px solid #dcdcdb;
        border-bottom: 1px solid #dcdcdb;
        background-color: #f2f2f2;
    }
    
    .expert-rates h1 {
        border-top: 1px solid #dcdcdb;
        background-color: #f2f2f2;
    }
}

@media screen and (max-width: 720px) {
    .wine-item {
        width: 100%;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid #dcdcdb;
        display: table;
        text-align: center; 
        vertical-align: middle;
    }
}
