* {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.mainHeader {
	margin: 0;
	padding: 0;
	width: 100%;
	color: white;
	background-color: #db4437;
	-webkit-box-shadow: 0 0 10px grey;
	-moz-box-shadow: 0 0 10px grey;
	box-shadow: 0 0 10px grey;
	position: fixed;
	top: 0;
	height: 48px;
	overflow: hidden;
	z-index: 2;
}

.buttonBar {
	text-decoration: none;
	top: 0;
	font-size: 22px;
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
}

.buttonBar li {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	cursor: pointer;
	height: 100%;
}

.buttonBar .title {
  font-size: 22px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  height: auto;
}

.pinToLeft {
	float: left;
}

.pinToRight {
	float: right;
}

.buttonBar li.active {
	background-color: #c53d32;
}

.buttonBar li:hover:not(.active):not(.title) {
	background-color: #df574b;
}

.buttonGroup {
	display: block;
	margin: 0;
	padding: 0;
	padding-right: 4px;
	padding-left: 4px;
	margin-top: 4px;
	border-bottom: 1px solid #dcdcdc;
	color: #565656;
}

.buttonGroup .button {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	text-align: center;
	color: black;
	padding: 6px;
	cursor: pointer;
	float: right;
	margin: 6px;
	border-radius: 4px;
}

/* Clear floats (clearfix hack) */

.buttonGroup:after {
	content: "";
	clear: both;
	display: table;
}

.buttonGroup .button:hover {
	background-color: #dcdcdc;
}

.buttonGroup svg {
	fill: #565656;
	width: 24px;
	height: 24px;
}

#menuIcon {
	width: 24px;
	height: 100%;
	fill-rule: evenodd;
	fill: #ffffff;
}

#userIcon {
	width: 36px;
	height: 100%;
	fill-rule: evenodd;
	fill: #ffffff;
}

.arrow-back {
  margin: 0;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  fill: #565656;
}

.arrow-back:hover {
  background-color: #dcdcdc;
  fill: black;
}

.mainView {
	width: 100%;
	height: 100%;
	border: 0;
	display: block;
}

.sidePanel {
	display: none;
	position: fixed;
	border: 0;
	-webkit-box-shadow: 5px 0 10px -5px gray;
	-moz-box-shadow: 5px 0 10px -5px gray;
	box-shadow: 5px 0 10px -5px gray;
	background-color: #fafafa;
	width: 256px;
	height: 100%;
	padding-top: 58px;
	font-size: 22px;
	z-index: 1;
}

.sidePanelButton {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color: transparent;
	color: #565656;
	border: none;
	padding: 8px 8px 8px 22px;
	height: 40px;
	text-decoration: none;
	cursor: pointer;
	transition: 0.3s;
	text-align: left;
	font-size: 18px;
}

.sidePanelButton:hover {
	background-color: #dcdcdc;
	color: black;
}

.sidePanelButton svg {
	width: 18px;
	height: 18px;
	padding-right: 18px;
	fill: #565656;
}

.topBar {
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	align-items: center;
  margin: 0;
  padding: 0;
  height: 48px;
  background-color: #fafafa;
  border-bottom: 1px solid #dcdcdc;
}

.mainContentBox {
	margin: 0;
	text-align: center;
	padding: 48px 0;
	height: auto;
	background-color: white;
}

#mainContent {
	height: 100%;
	margin: 0;
	padding: 0;
}

.itemsWrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	width: 100%;
	padding: 6px;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.itemsWrapper.centerItems {
  justify-content: center;
}

.item {
  flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	background-color: transparent;
	overflow: hidden;
	border: none;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	min-width: 320px;
	max-width: 480px;
	cursor: pointer;
	color: inherit;
  text-decoration: inherit;
  width: auto;
	margin: 6px;
	float: left;
	text-align: left;
	align-content: space-between;
}

.centerItems .item {
  text-align: center;
}

.item.singleView {
	cursor: initial;
}

.item .title {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.item:active {
	background-color: #fafafa;
}

.detailsContainer {
  flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.detailsContainer .imgContainer {
  display: inline-block;
  margin: 0;
	margin-right: 10px;
}

.detailsContainer .imgContainer img {
	display: inline-block;
	height: 240px;
  width: auto;
	padding: 0;
	margin: 0;
	margin: 0 auto;
}

.detailsContainer .details {
  display: inline-block;
	width: auto;
	margin: 0;
}

.detailsContainer .details table {
	font-size: 16px;
	text-align: left;
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin: auto;
	margin-top: 0;
}

.detailsContainer .details table td {
	vertical-align: top;
}

.loader {
	display: none;
	font-size: 20px;
	margin: auto;
	z-index: 0;
}

.loader.vcenter {
  padding-top: calc(50vh - 82px);;
}

.loader p {
	font-size: 22px;
	text-align: center;
}

.loaderRing {
	border: 6px solid #dcdcdc;
	border-radius: 50%;
	border-top: 6px solid #db4437;
	width: 48px;
	height: 48px;
	margin: 0 auto;
	-webkit-animation: spin 1s linear infinite;
	/* Safari */
	animation: spin 1s linear infinite;
}

.loaderRing.topspace {
  margin-top: 40px;
}

.pagination {
  display: table;
  margin: 0 auto;
  margin-top: 12px;
  width: auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 3px;
}

.pagination a.active {
  background-color: #db4437;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #dcdcdc;
}
/* Safari */

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animateContent {
	-webkit-animation-name: animatecontent;
	-webkit-animation-duration: 0.8s;
	animation-name: animatecontent;
	animation-duration: 0.8s
}

@-webkit-keyframes animatecontent {
	from {
		margin-top: 100px;
		opacity: 0
	}
	to {
		margin-top: 0px;
		opacity: 1
	}
}

@keyframes animatecontent {
	from {
		margin-top: 100px;
		opacity: 0
	}
	to {
		margin-top: 0px;
		opacity: 1
	}
}

@media only screen and (max-width: 768px) {
	/* For Phones: */
	.mainContentBox {
		margin-left: 0 !important;
	}
	.searchBar {
		display: none !important;
	}
	.searchButton {
		display: inline-block !important;
	}
}

@media only screen and (max-width: 330px) {
	.list .imgContainer {
		width: 25%;
	}
}
