{% extends "hrsapp/common.html" %}
{% load staticfiles %}
{% block title %}Wine Recommendation System{% endblock %}
{% block javascript %}{% endblock %}
{% block content %}
<div class="gridContainer menuItems animateContent">
   <a class="gridItem" href="/wines/">
      {% include "hrsapp/partials/svg/wines-svg.html" %}
      <h1 class="title">Wine List</h1>
   </a>
   <a class="gridItem" href="/recommend/">
      {% include "hrsapp/partials/svg/recommend-svg.html" %}
      <h1 class="title">Recommend me wine</h1>
   </a>
</div>
{% endblock %}
