<div id="ratedTemplate" style="display: none">
<a class="ratedItem" href="/wines/wine/">
  <!-- img -->
  <table class="details">
    <tr>
       <td colspan="2">name</td>
    </tr>
    <tr>
       <td>vendor</td>
       <td class="ratesBox small">
          <div class="stars">
            <div class="disabled">{% include "hrsapp/svg/star-svg.html" %}</div>
            <div class="disabled">{% include "hrsapp/svg/star-svg.html" %}</div>
            <div class="disabled">{% include "hrsapp/svg/star-svg.html" %}</div>
            <div class="disabled">{% include "hrsapp/svg/star-svg.html" %}</div>
            <div class="disabled">{% include "hrsapp/svg/star-svg.html" %}</div>
          </div>
       </td>
    </tr>
  </table>
</a>
{% include "hrsapp/svg/x-close-remove.html" %}
</div>
