{% extends "hrsapp/common.html" %}
{% load staticfiles %}
{% load range %}
{% load toint %}
{% block title %}Wine Recommendation System | Recommend Navigation{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/rates.box.css' %}"/>
{% endblock %}
{% block javascript %}<script src="{% static 'js/rating.js' %}"></script>{% endblock %}
{% block content %}
<div class="buttonGroup">
   <div class="button" onclick="window.history.back()">{% include "hrsapp/svg/arrow-back.html" %}</div>
   <div class="spacer" ontouchstart="touchStart(event)" ontouchmove="touchMove(event)">
      {% include "hrsapp/partials/rated-template.html" %}
   </div>
   <div class="button large" onclick="location.href='/recommend/recommended/'">{% include "hrsapp/svg/recommend-svg.html" %}</div>
</div>
<div class="gridContainer menuItems animateContent">
   {% if contents.0 == 1 %}
   {% for category in contents.2 %}
   <a class="gridItem" href="/recommend/?category={{ category.id }}">
      {% with svg_name=category.name|lower|stringformat:"s"|add:"-wine-svg.html" %}
      {% include "hrsapp/svg/"|add:svg_name %}
      {% endwith %}
      <div class="title">{{ category.name }}</div>
   </a>
   {% endfor %}
   {% elif contents.1 == 1 %}
   {% for country in contents.2 %}
   <a class="gridItem" href="/recommend/?country={{ country.0 }}">
      {% with svg_name=country.1|lower|stringformat:"s"|add:".html" %}
      {% include "hrsapp/svg/countries/"|add:svg_name %}
      {% endwith %}
      <div class="title">{{ country.1 }}</div>
   </a>
   {% endfor %}
   {% else %}
   {% for vendor in contents.2 %}
   <a class="gridItem" href="/recommend/?vendor={{ vendor.0 }}">
      {% include "hrsapp/svg/logo.html" %}
      <div class="title">{{ vendor.1 }}</div>
   </a>
   {% endfor %}
   {% endif %}
</div>
{% endblock %}
