{% extends "hrsapp/common.html" %}
{% load staticfiles %}
{% load range %}
{% load toint %}
{% block title %}Wine Recommendation System | Recommend Navigation{% endblock %}
{% block javascript %}{% endblock %}
{% block content %}
<div class="buttonGroup">
   {% if contents.0 == 1 and contents.1 == 0 and contents.0 == 0 and contents.1 == 1 %}
   <div class="button" onclick="location.href='/{{ contents.4 }}'">{% include "hrsapp/partials/svg/arrow-back.html" %}</div>
   {% else %}
   <div class="button" onclick="location.href='/recommend?category={{ contents.4 }}'">{% include "hrsapp/partials/svg/arrow-back.html" %}</div>
   {% endif %}
   <div class="spacer">
      {% if contents.3|length != 0  %}
      {% for item in contents.3 %}
      <div class="main-rate-item hrs-medium">
         <img src="{% static 'images/' %}{{ item.3 }}" alt="Wine Photo" onclick="location.href='/wines/wine/{{ item.0 }}'">
         <div class="rate-item-body" onclick="location.href='/wines/wine/{{ item.0 }}'">
            <p>{{ item.1 }}<br>{{ item.2 }}</p>
            <div class="rate-bar">
               {% for star in '*****' %}
               {% if item.4|toint >= forloop.counter %}
               <img class="rate-button-small" src="{% static 'images/star-checked.svg' %}" alt="*">
               {% else %}
               <img class="rate-button-small" src="{% static 'images/star.svg' %}" alt="'">
               {% endif %}
               {% endfor %}
            </div>
         </div>
         <div class="rm-btn" style="background-image: url({% static 'images/remove.svg' %});" onclick="remove_rated({{ item.0 }})"></div>
      </div>
      {% endfor %}
      {% endif %}
   </div>
   {% if contents.3|length != 0  %}
   <div class="button large" onclick="location.href='/get-recommended'">{% include "hrsapp/partials/svg/recommend-svg.html" %}</div>
   {% else %}
   <div class="button large">{% include "hrsapp/partials/svg/recommend-svg.html" %}</div>
   {% endif %}
</div>
<div class="gridContainer menuItems animateContent">
   {% if contents.0 == 1 %}
   {% for category in contents.2 %}
   <a class="gridItem" href="/recommend/?category={{ category.id }}">
      <div class="imgContainer"><img src="{% static 'images/' %}{{ category.name|lower }}-wine.svg"
         alt="{{ category.name }}" onerror="this.onerror=null;this.src='';" /></div>
      <h1 class="title">{{ category.name }}</h1>
   </a>
   {% endfor %}
   {% elif contents.1 == 1 %}
   {% for country in contents.2 %}
   <a class="gridItem" href="/recommend/?country={{ country.0 }}">
      <div class="imgContainer"><img src="{% static 'images/' %}{{ country.1|lower }}.svg"
         alt="{{ country.1 }}" onerror="this.onerror=null;this.src='';" /></div>
      <h1 class="title">{{ country.1 }}</h1>
   </a>
   {% endfor %}
   {% else %}
   {% for vendor in contents.2 %}
   <a class="gridItem" href="/recommend/?vendor={{ vendor.0 }}">
      <div class="imgContainer"><img src="{% static 'images/' %}hrs-logo.svg"
         alt="{{ vendor.1 }}" onerror="this.onerror=null;this.src='';" /></div>
      <h1 class="title">{{ vendor.1 }}</h1>
   </a>
   {% endfor %}
   {% endif %}
</div>
{% endblock %}
