{% extends "hrsapp/common.html" %}
{% load staticfiles %}
{% load toint %}
{% load range %}
{% block title %}Wine Recommendation System | Wine List{% endblock %}
{% block javascript %}{% endblock %}
{% block content %}
<div class="buttonGroup">
   <div class="button" onclick="window.history.back()">{% include "hrsapp/svg/arrow-back.html" %}</div>
   <div class="spacer"></div>
</div>
{% if contents|length == 0  %}
<div class="gridContainer menuItems animateContent">
   <a class="gridItem" href="/wines/">
      {% include "hrsapp/svg/not-found-svg.html" %}
      <div class="title">There are no rated products!<br/>Please rate some products first.</div>
   </a>
</div>
{% else %}
<div class="gridContainer animateContent">
   {% for item in contents %}
   <div class="gridItem">
      <a class="title" href="/wines/wine/{{ item.0 }}">{{ item.1 }}</a>
      <a class="detailsContainer" href="/wines/wine/{{ item.0 }}">
         <img class="imgContainer recommended" src="{% static 'images/' %}{{ item.4 }}"
            alt="Wine Picture" onerror="this.onerror=null;this.src='';" />
         <table class="details">
            <tr>
               <td>Producer:</td>
               <td>{{ item.2 }}</td>
            </tr>
               <td>Category:</td>
               <td>{{ item.3 }} Wine</td>
            </tr>
            <tr>
               <td>Sim:</td>
               <td>{{ item.5 }}</td>
            </tr>
         </table>
      </a>
   </div>
   {% endfor %}
</div>
{% if contents.paginator.num_pages|toint > 1 %}
<div class="pagination">
   {% if contents.has_previous %}
   <a href="?page={{ contents.previous_page_number }}">&laquo;</a>
   {% endif %}
   {% for value in contents.paginator.num_pages|range %}
   {% if contents.number is forloop.counter %}
   <a class="active" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
   {% else %}
   <a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
   {% endif %}
   {% endfor %}
   {% if contents.has_next %}
   <a href="?page={{ contents.paginator.num_pages }}">&raquo;</a>
   {% endif %}
</div>
{% endif %}
{% if contents.has_next %}
<div class="infinite-more" style="display:none" data-val="?page={{ contents.next_page_number }}&return=minimal"></div>
<div class="loader">
   <div class="loaderRing"></div>
   <p>Loading more...</p>
</div>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.scroll.min.js' %}"></script>
{% endif %}
{% endif %}
{% endblock %}
