<!DOCTYPE html>
{% load staticfiles %}
<html>

  <head>
    <title>{% block title %}Wine Recommendation System{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#f95463"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <link rel="stylesheet" href="{% static 'css/default.css' %}"/>
    {% block styles %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
    {% block javascript %}{% endblock %}
  </head>

  <body>

    <header class="mainHeader">
    {% include "hrsapp/partials/header.html" %}
    </header>

    <section class="mainView">
    {% include "hrsapp/partials/side-panel.html" %}
      <section class="mainContentBox">
        <article class="mainContent">
          {% block content %}{% endblock %}
        </article>
      </section>
    </section>

  </body>

</html>
