{% load staticfiles %}
{% load range %}
{% load toint %}
<!DOCTYPE html>
<html>
    <head>
        <title>Wine Recommendation System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f95463">
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <meta name="msapplication-TileColor" content="#da532c">
    </head>
    <body>
        <!-- Sidebar -->
        <div class="hrs-sidebar hrs-bar-block dynamic-size" id="mySidebar">
            <button onclick="w3_close()" class="hrs-bar-close">Close</button>
            <a href="/" class="hrs-bar-item hrs-bar-button hrs-large">Home</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">My profile</a>
            <a href="#" class="hrs-bar-item hrs-bar-button hrs-large">Log out</a>
            <a class="hrs-bar-item hrs-bar-button hrs-large" onclick="clear_session()">Clear session</a>
        </div>
        <!-- Page Header -->
        <div class="hrs-teal hrs-teal-shadow stick">
            <a href="/">Wine HRS</a>
            <button class="hrs-btn" style="float: left; background-image: url({% static 'images/menu.svg' %});" onclick="hrs_open()"></button>
            <button class="hrs-btn" style="float: right; background-image: url({% static 'images/user.svg' %});" onclick=""></button>
        </div>
        <!-- Page Content -->
        <div class="navbar">
            <div class="nav-btn" style="border-right: 1px solid #dcdcdb; padding-right: 4px;">
                <img class="nav-btn-img" src="{% static 'images/nav-back.svg' %}" alt="Back" onclick="window.history.back()">
            </div>
        </div>
        {% if contents.0 == 0  %}
        <div class="no-products">
            <img src="{% static 'images/hrs-logo.svg' %}" alt="HoReCa">
            <p class="item-name hrs-large">There is no such product!</p>
        </div>
        {% else %}
        <div class="items-container">
            <p class="hrs-xlarge" style="margin-bottom: 6px;"><b>{{ contents.0.name }}</b></p>
            <div class="hrs-item" style="border: 0px;">
                <section>
                    <nav>
                        <img class="item-img" src="{% static 'images/' %}{{ contents.0.photo_path }}" alt="Wine Photo">
                    </nav>
                    <article>
                        <p>Producer: <b>{{ contents.0.vendor_id }}</b></p>
                        <p>Country: <b>{{ contents.0.vendor_id.region_id.country_id }}</b></p>
                        <p>Region: <b>{{ contents.0.vendor_id.region_id }}</b></p>
                        <p>Category: <b>{{ contents.0.category_id }} Wine</b></p>
                        <p>Appellation: <b>{{ contents.0.appellation_id }}</b></p>
                        <p>Description:<br>{{ contents.0.description }}</p>
                    </article>
                </section>
                <footer class="mobile-view">
                    <header>
                        <p class="hrs-large">User Rating:</p>
                    </header>
                    <footer>
                    {% for star in '*****' %}
                        {% if contents.1.0|toint > forloop.counter %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                        {% elif contents.1.0|toint == forloop.counter %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                        {% else %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star.svg' %});"></button>
                        {% endif %}
                    {% endfor %}
                    </footer>
                </footer>
            </div><h2 class="mobile-view-title hrs-xlarge">Characteristics:</h2><div class="hrs-item" style="border: 0px;">
                <section style="text-align: center; display: table; margin: 0 auto; width: auto;">
                    <article>
                        <p class="desktop-view-title"><b>Characteristics:</b></p>
                        <p>Body: <b>{{ contents.4.0 }} / 5</b></p>
                        <p>Alcohol: <b>{{ contents.4.1 }} / 5</b></p>
                        <p>Tannin: <b>{{ contents.4.2 }} / 5</b></p>
                        <p>Acidity: <b>{{ contents.4.3 }} / 5</b></p>
                        <p>Sweetness: <b>{{ contents.4.4 }} / 5</b></p>
                    </article>
                </section>
                <footer class="mobile-view">
                    <header>
                        <p class="hrs-large">Expert Rating:</p>
                    </header>
                    <footer>
                    {% for star in '*****' %}
                        {% if contents.1.1|toint > forloop.counter %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                        {% elif contents.1.1|toint == forloop.counter %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                        {% else %}
                        <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star.svg' %});"></button>
                        {% endif %}
                    {% endfor %}
                    </footer>
                </footer>
            </div>
            <section class="desktop-view">
                <div class="items-container">
                    <div class="hrs-item" style="border: 0px;">
                        <header>
                            <p class="hrs-large">User Rating:</p>
                        </header>
                        <footer>
                        {% for star in '*****' %}
                            {% if contents.1.0|toint > forloop.counter %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                            {% elif contents.1.0|toint == forloop.counter %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                            {% else %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star.svg' %});"></button>
                            {% endif %}
                        {% endfor %}
                        </footer>
                    </div><div class="hrs-item" style="border: 0px;">
                        <header>
                            <p class="hrs-large">Expert Rating:</p>
                        </header>
                        <footer>
                        {% for star in '*****' %}
                            {% if contents.1.1|toint > forloop.counter %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                            {% elif contents.1.1|toint == forloop.counter %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star-checked.svg' %});"></button>
                            {% else %}
                            <button class="{{ contents.0.id }} rate-button" type="button" style="background-image: url({% static 'images/star.svg' %});"></button>
                            {% endif %}
                        {% endfor %}
                        </footer>
                    </div>
                </div>
            </section>
        </div>
        <div class="item-rates"><h1 class="hrs-mxlarge">Similar Products</h1>
            <div class="user-rates">
                    <h2 class="hrs-xlarge">by User preferences</h2>
                    {% if contents.2|length != 0 %}
                    {% for item in contents.2 %}<header>
                        <p>{{ item.1 }}</p>
                    </header>
                    <section>
                        <nav>
                            <img style="max-height: 64px;" class="item-img" src="{% static 'images/' %}{{ item.4 }}" alt="Wine Photo">
                        </nav>
                        <article>
                            <p>Producer: {{ item.2 }}</p>
                            <p>Category: {{ item.3 }} Wine</p>
                            <p>Sim: {{ item.5 }}</p>
                        </article>
                    </section>{% endfor %}
                    {% else %}
                        <center><p>There are no meaningful similarities with other products.</p></center>
                        <br>
                    {% endif %}
                </div><div class="expert-rates">
                    <h2 class="hrs-xlarge">by Characteristics</h2>
                    {% if contents.3|length != 0 %}
                    {% for item in contents.3 %}<header>
                        <p>{{ item.1 }}</p>
                    </header>
                    <section>
                        <nav>
                            <img style="max-height: 64px;" class="item-img" src="{% static 'images/' %}{{ item.4 }}" alt="Wine Photo">
                        </nav>
                        <article>
                            <p>Producer: {{ item.2 }}</p>
                            <p>Category: {{ item.3 }} Wine</p>
                            <p>Sim: {{ item.5 }}</p>
                        </article>
                    </section>{% endfor %}
                    {% else %}
                        <center><p>There are no meaningful similarities with other products.</p></center>
                        <br>
                    {% endif %}
                </div></div>{% endif %}
        <script src="{% static 'js/shared_functions.js' %}"></script>
    </body>
</html>
